.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

#profilePhoto {
  position: absolute;
  top: -41px;
  right: 10%;
  z-index: 1;
  background-color: transparent;
  transform: scaleX(-1);
}

.aboutMe {
  position: relative;
  color: white;
}

h1 {
  font-size: 25px;
}

.banner {
  height: 350px;
  width: 100%;
  background-color: black;
}

.blue {
  color: rgb(0, 179, 170);
  background-color: black;
}

.black__bg {
  background-color: black;
}

@media only screen and (max-width: 800px) {
  #profilePhoto {
    display: none;
  }
}
