.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  background-color: #141414;
}

.portfolio__title {
  margin-left: 20px;
  margin-top: 20px;
}

.portfolio__tile {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 30px;
  align-items: center;
  border-style: solid;
  border-radius: 10%;
  transition: 450ms;
}

.tile:hover {
  transform: scale(1.08);
}

.tile__title {
  color: rgb(0, 179, 170);
}

p {
  padding: 10px;
}

.screenShot {
  width: 240px;
  height: 117px;
  margin: 10px;
  box-shadow: 10px 5px 5px black;
}

.portfolioLinks {
  color: rgb(0, 179, 170);
}

hr {
  border-color: white;
}
/* 240 x 117 */
