.nav{
    display: flex;
    height: 80px;
    background-color: white;
    text-align: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid blue;
}

a{
    margin: 10px;
    text-decoration: none;
    color: #9a9d97;
}

.links{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}
