.nav{
    display: flex;
    height: 80px;
    background-color: #343a40;
    text-align: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: white;
}

a{
    margin: 10px;
    text-decoration: none;
    color: #9a9d97;
}

a:first-child {
    color: white;
}

.links{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}