* {
  margin: 0;
  font-size: 18px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #141414;
  color: white;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
}

*::-webkit-scrollbar {
  display: none;
}
